header {
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    height: 8vh;
    width: 100%;
    /* 
    position: fixed; /* 
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1000; 
    */
    background-color: #D8D8D8;
}

ul {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

li {
    width: 10%;
    color: #5E4115;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    font-weight: 500;
}

li a{
    text-decoration: none;
    color: #5E4115;
}

#space {
    width: 55%;
}

#kyo a{
    color: #a4814d;
    width: 10%;
    font-size: 27px;
    display: flex;
    justify-content: left;
    font-weight: 300;
}

#K {
    color: #5E4115;
}

@media (max-width: 1600px){

    li {
        width: 10%;
        color: #5E4115;
        cursor: pointer;
        font-size: 15px;
        display: flex;
        justify-content: center;
        font-weight: 500;
    }

    #kyo a{
        color: #a4814d;
        width: 10%;
        font-size: 24px;
        display: flex;
        justify-content: left;
        font-weight: 300;
    }
}